.primary_btn{
    padding: 18px 10px;
    background-color: black;
    color: white;
    min-width: 220px; /*for width*/
    border-radius: 5px; /*for round edges*/
    display: flex;
    align-items: center; /*to fix items at the centre*/
    gap: 8px; /*gap between elements*/
    font-size: 16px;
    justify-content: center; 
}