.contact_secton{
    max-width: 1000px;
    margin: 0 auto;
}

.contact_secton h1{
    font-size: 48px;
    font-weight: 800; /*because it is extra Bold*/
    max-width: 80%;
}

.contact_secton p{
    font-size: 16px;  /*this is default also*/
    font-weight: 500; /*because it is semi Bold*/ 
}