.container{   /*it'll not override the global container coz here we're using modules*/
    display: flex;
    max-width: 1000px;
    margin: 0 auto; /*to make it remain at the centre*/
}

.top_btn{
    display: flex;
    gap: 32px;  /*for gap between elements inside it*/
}

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_control{
    display:flex;
    flex-direction: column;
    width: 100%;  /*to take full spacing ,to take 100% spacing*/
}

.form_control input {
    height: 48px;
}